<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>CartFilter</filter-name>
        <filter-class>filters.CartFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginRegisterFilter</filter-name>
        <filter-class>filters.LoginRegisterFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filters.AdminFilter</filter-class>
    </filter>
        <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginRegisterFilter</filter-name>
        <url-pattern>/login</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginRegisterFilter</filter-name>
        <url-pattern>/register</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CartFilter</filter-name>
        <url-pattern>/order</url-pattern>
    </filter-mapping>
<!--    <filter-mapping>
        <filter-name>CartFilter</filter-name>
        <url-pattern>/viewcart</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CartFilter</filter-name>
        <url-pattern>/addcart</url-pattern>
    </filter-mapping>-->
    <filter-mapping>
        <filter-name>CartFilter</filter-name>
        <url-pattern>/viewordered</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CartFilter</filter-name>
        <url-pattern>/addwishlist</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CartFilter</filter-name>
        <url-pattern>/viewwishlist</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CartFilter</filter-name>
        <url-pattern>/changeinfo</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CartFilter</filter-name>
        <url-pattern>/changepassword</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>controlleradmin.admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewordered</servlet-name>
        <servlet-class>controlleruser.viewordered</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewordered</servlet-name>
        <url-pattern>/viewordered</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
